<extend name="$_home_public_layout"/>


<block name="main">
    <style>
        .right {
            float: right;
            width: 80%;
        }
    </style>
    <div class="container">
        <div class="row ucenter-row">
            <div class="col-xs-12 col-md-3">
                <include file="$_user_center_side"/><!-- 包含用户中心侧边导航 -->
            </div>
            <div class="col-xs-12 col-sm-9">
                <div class="builder listbuilder-box panel-body">
                    <!-- Tab导航 -->

                    <!-- 数据列表 -->
                    <div class="builder-container">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="builder-table">
                                    <div class="panel panel-default table-responsive">
                                        <table class="table table-bordered table-striped table-hover">
                                            <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>兑换积分</th>
                                                <th>提交时间</th>
                                                <th>申请IP</th>
                                                <th>处理信息</th>
                                                <th>状态</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <if condition="$list neq ''">
                                                <foreach name="list" item="recharge">
                                                    <tr>
                                                        <td>{$recharge.id}</td>
                                                        <td>{$recharge.money|default="0.00"} 积分</td>
                                                        <td>{$recharge.addtime|date="Y-m-d H:i:s",###}</td>
                                                        <td>{$recharge.apply_ip}</td>
                                                        <td>
                                                            <if condition="$recharge.op_remark neq ''">
                                                                {$recharge.op_remark}
                                                                <else />
                                                                未填写
                                                            </if>
                                                        </td>
                                                        <td>
                                                            <if condition="$recharge['status'] eq 1">
                                                                审核中
                                                                <elseif condition="$recharge['status'] eq 2" />
                                                                驳回申请
                                                                <elseif condition="$recharge['status'] eq 3"/>
                                                                兑换成功
                                                            </if>
                                                        </td>
                                                    </tr>
                                                </foreach>
                                                <else />
                                                <tr class="builder-data-empty">
                                                    <td colspan="7" class="text-center empty-info">
                                                        <i class="fa fa-database"></i> 暂时没有数据<br>
                                                    </td>
                                                </tr>
                                            </if>
                                            <if condition="$list neq ''">
                                                <foreach name="list" item="recharge">
                                                    <tr>
                                                        <td>{$recharge.id}</td>
                                                        <td>{$recharge.money|default="0.00"} 积分</td>
                                                        <td>{$recharge.addtime|date="Y-m-d H:i:s",###}</td>
                                                        <td>{$recharge.apply_ip}</td>
                                                        <td>
                                                            <if condition="$recharge['op_remark'] neq ''">
                                                                {$recharge.op_remark}
                                                                <else />
                                                                处理中
                                                            </if>
                                                        </td>
                                                        <td>
                                                            <if condition="$recharge['status'] eq 1">
                                                                审核中
                                                                <elseif condition="$recharge['status'] eq 2"/>
                                                                驳回申请
                                                                <elseif condition="$recharge['status'] eq 3"/>
                                                                充值成功
                                                            </if>
                                                        </td>
                                                    </tr>
                                                </foreach>
                                                <else/>
                                                <tr class="builder-data-empty">
                                                    <td colspan="7" class="text-center empty-info">
                                                        <i class="fa fa-database"></i> 暂时没有数据<br>
                                                        <span class="small">本系统由 <a target="_blank" class="text-muted"
                                                                                    href="">{:C('WEB_SITE_TITLE')}</a> v1.3.0 强力驱动</span>
                                                    </td>
                                                </tr>
                                            </if>

                                            </tbody>
                                        </table>
                                        <ul class="pagination">{$page}</ul>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 额外功能代码 -->
                </div>

            </div>
        </div>
    </div>
</block>
