<extend name="$_home_public_layout"/>
<style>
    .dogo-panel-body .panel-body{}
    .dogo-panel-body .alert{margin-bottom: 0;}
</style>
<block name="main">
    <div class="container">
        <div class="row ucenter-row">
            <div class="col-xs-12 col-md-3">
                <include file="$_user_center_side" /><!-- 包含用户中心侧边导航 -->
            </div>
            <div class="col-xs-12 col-md-9">
                <div class="panel">
                    <div class="panel-body" style="padding: 0 15px;">
                        <div class="alert alert-warning" style="margin-bottom: 0;">您的推广码是：{$user_info.code}</div>
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-body" style="padding: 0 15px;">
                        <div class="alert alert-warning" style="margin-bottom: 0;">您的推广链接地址是：http://{$_SERVER['HTTP_HOST']}{:U('User/User/register',array('code'=>$user_info["code"]))}</div>
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-body" style="padding: 0 15px;">
                        <div class="alert alert-warning" style="margin-bottom: 0;">您的推广二维码是：
                            <img src="{:U('User/Center/getQrcode',array('code'=>$user_info[code]))}" style="width:120px;height: 120px; "/>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
