<extend name="$_user_layout"/>
<block name="main">
    <section>
        <div class="span12">
            <form class="login-form" action="{:U('User/Center/password')}" method="post">

                <h3 class="loginf_h3tt"><span>修改用户密码</span></h3>

                <div class="control-group clearfix">
                    <label class="control-label pull-left" for="inputCardNo">旧密码</label>
                    <div class="controls pull-left">
                        <input type="password" id="inputCardNo" class="span3" placeholder="请输入旧密码，可为空"  name="password">
                    </div>
                </div>
                <div class="control-group clearfix">
                    <label class="control-label pull-left" for="inputTel">新密码</label>
                    <div class="controls pull-left">
                        <input type="password" id="inputTel" class="span3" placeholder="请输入密码"  name="newpassword">
                    </div>
                </div>
                <div class="control-group clearfix">
                    <label class="control-label pull-left" for="inputMoney">确认密码</label>
                    <div class="controls pull-left">
                        <input type="password" id="inputMoney" class="span3" placeholder="请确认密码"  name="repassword">
                    </div>
                </div>
                <div class="control-group1">
                    <div class="controls">
                        <div class="controls Validform_checktip text-warning"></div>
                        <button type="submit" class="btn btnsubmit">提 交</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
</block>