<extend name="$_user_layout"/>
<block name="main">
    <section>
        <div class="span12">
            <form class="login-form" action="{:U('User/User/login')}" method="post">
                <h3 class="loginf_h3tt">登录</h3>
                <div class="control-group clearfix">
                    <label class="control-label pull-left" for="inputEmail">用户名</label>
                    <div class="controls">
                        <input type="text" id="inputEmail" class="span3 pull-left" placeholder="请输入用户名"
                               errormsg="请填写1-16位用户名" nullmsg="请填写用户名"
                               datatype="*1-16" value="" name="username">
                    </div>
                </div>
                <div class="control-group clearfix">
                    <label class="control-label pull-left" for="inputPassword">密码</label>
                    <div class="controls">
                        <input type="password" id="inputPassword" class="span3 pull-left" placeholder="请输入密码"
                               errormsg="密码为6-20位" nullmsg="请填写密码" datatype="*6-20" name="password">
                    </div>
                </div>
                <div class="control-group clearfix">
                    <label class="control-label pull-left" for="inputVerify">验证码</label>
                    <div class="controls">
                        <input type="text" id="inputVerify" class="span3 pull-left" placeholder="请输入验证码"
                               errormsg="请填写5位验证码" nullmsg="请填写验证码" datatype="*5-5" name="verify">
                    </div>
                </div>
                <div class="control-group1 clearfix">
                    <div class="controls pull-left">
                        <img class="verifyimg reload-verify" alt="验证码" src="{:U('User/User/verify')}" title="点击刷新">
                    </div>
                    <div class="row controls Validform_checktip text-warning"></div>
                </div>
                <div class="control-group1 clearfix">
                    <div class="controls">
                        <label for="autologin" class="checkbox">
                            <input class="check_reset" id="autologin" type="checkbox">自动登陆
                        </label>
                        <button type="submit" class="btn btnsubmit">登 陆</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
</block>