<extend name="$_home_public_layout"/>


<block name="main">
    <style>
        .right {
            float: right;
            width: 80%;
        }
    </style>
    <div class="container">
        <div class="row ucenter-row">
            <div class="col-xs-12 col-md-3">
                <include file="$_user_center_side"/><!-- 包含用户中心侧边导航 -->
            </div>
            <div class="col-xs-12 col-sm-9">
                <div class="builder listbuilder-box panel-body">
                    <!-- Tab导航 -->

                    <!-- 数据列表 -->
                    <div class="builder-container">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="builder-table">
                                    <div class="panel panel-default table-responsive">
                                        <table class="table table-bordered table-striped table-hover">
                                            <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>投注积分</th>
                                                <th>中奖数字</th>
                                                <th>中奖图片</th>
                                                <th>竞猜期数</th>
                                                <th>获奖赔率</th>
                                                <th>赚取积分</th>
                                                <th>获奖时间</th>
                                            </tr>
                                            </thead>
                                            <tbody>

                                                <notempty name="list">
                                                    <foreach name="list" item="recharge">
                                                        <tr>
                                                            <td>{$recharge.id}</td>
                                                            <td>
                                                                {$recharge.bet_money|default="0.00"} 积分
                                                            </td>
                                                            <td>
                                                                {$recharge.hit_num}
                                                            </td>
                                                            <td>
                                                                <img src="{:get_hit_num_img($recharge['hit_num'])}"  width="50" alt="">
                                                            </td>
                                                            <td>
                                                                {$recharge.term_id}
                                                            </td>
                                                            <td>
                                                                {$recharge.award_scale}
                                                            </td>
                                                            <td>
                                                                {$recharge.win_money}
                                                            </td>
                                                            <td>{$recharge.addtime|date="Y-m-d H:i:s",###}</td>
                                                        </tr>
                                                    </foreach>
                                                    <else />
                                                    <tr class="builder-data-empty">
                                                        <td colspan="8" class="text-center empty-info">
                                                            <i class="fa fa-database"></i> 暂时没有数据<br>
                                                        </td>
                                                    </tr>
                                                </notempty>



                                            </tbody>
                                        </table>
                                        <ul class="pagination">{$page}</ul>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 额外功能代码 -->
                </div>

            </div>
        </div>
    </div>
</block>
