<extend name="$_user_layout"/>
<block name="main">
    <div class="table-responsive" style="background: #fff;padding: 1em;border-radius: .5em;">
        <table class="table">
            <caption>积分记录</caption>
            <thead>
            <tr>
            <tr>
                <th>ID</th>
                <th>积分</th>
                <th>操作说明</th>
                <th>提交时间</th>
            </tr>
            </tr>
            </thead>
            <tbody>
            <empty name="list">
                <tr>
                    <td colspan="4">
                        没有记录
                    </td>
                </tr>
                <else />
                <foreach name="list" item="recharge">
                    <tr>
                        <td>{$recharge.id}</td>
                        <td>
                            <if condition="$recharge['isplus'] eq 1">
                                +
                                <else />
                                -
                            </if>
                            {$recharge.money|default="0.00"} 积分
                        </td>
                        <td>
                            {$recharge.remark}
                        </td>
                        <td>{$recharge.addtime|date="Y-m-d H:i:s",###}</td>

                        <!--<td>-->
                        <!--<if condition="$recharge['status'] eq 1">-->
                        <!--审核中-->
                        <!--<elseif condition="$recharge['status'] eq 2" />-->
                        <!--驳回申请-->
                        <!--<elseif condition="$recharge['status'] eq 3"/>-->
                        <!--充值成功-->
                        <!--</if>-->
                        <!--</td>-->
                    </tr>
                </foreach>
            </empty>
            </tbody>
        </table>
        <ul class="pagination">{$page}</ul>
    </div>
</block>