<extend name="$_home_public_layout"/>

<block name="main">
    <div class="container">
        <div class="row ucenter-row">
            <div class="col-xs-12 col-md-3">
                <include file="$_user_center_side" /><!-- 包含用户中心侧边导航 -->
            </div>
            <div class="col-xs-12 col-md-9">
                <div class="panel">
                    <div class="panel-body">
                        {$user_message_info.content}
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
